.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
select {
  height: 40px;
  width: 25%;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-size: 12px;
}
*/
.parent {
/*  margin : auto;*/
  /*width: 800px;*/
  margin-right: 10px;
  display: inline-block;
  flex-wrap: wrap; 
  background-color: teal;
}
.subchild{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: center;
}
.child {
  display: inline-block;
/*  flex-wrap: wrap;*/
  border: 1px solid black;
}
img {
  width: 150px;
  height: 200px;
}
button {
  font-size: 18px;
  font-weight: bolder;
  border-radius: 50%;
}
#parent {
/*  margin : auto;*/
  /*width: 800px;*/
  margin-right: 10px;
  display: inline-block;
  flex-wrap: wrap; 
}
#child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 200px;
  margin-right: 10px;
/*  display: inline-block;*/
  background-color: orangered;  
}